<form (ngSubmit)="handleSubmit(f)" #f="ngForm">
  <div class="flex flex-col gap-3 mt-3">
    <mat-form-field appearance="fill" class="w-100" autocomplete="password">
      <mat-label>Start Date:</mat-label>
      <input
        ngModel
        name="start_date"
        type="date"
        matInput
        placeholder="Start Date"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100" autocomplete="password">
      <mat-label>End Date:</mat-label>
      <input
        ngModel
        name="end_date"
        type="date"
        matInput
        placeholder="End Date"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Workout</mat-label>
      <mat-select ngModel name="workout_id">
        <mat-option
          *ngFor="let workout of workouts"
          [value]="workout.workout_id"
          >{{ workout.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>User</mat-label>
      <mat-select ngModel name="user_id">
        <mat-option *ngFor="let user of users" [value]="user.user_id">{{
          user.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="accent" type="submit">Submit</button>
  </div>
</form>
