<div class="flex flex-row">
  <div class="m-3">
    <mat-card class="example-card">
      <mat-card-content>
        <form (ngSubmit)="handleSubmit(f)" #f="ngForm">
          <div class="flex flex-col">
            <mat-form-field
              appearance="fill"
              class="w-100"
              autocomplete="password"
            >
              <mat-label>Name:</mat-label>
              <input ngModel name="name" matInput placeholder="Name" />
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              class="w-100"
              autocomplete="password"
            >
              <mat-label>Category:</mat-label>
              <input ngModel name="category" matInput placeholder="Category" />
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              class="w-100"
              autocomplete="password"
            >
              <mat-label>Description:</mat-label>
              <textarea
                ngModel
                name="description"
                matInput
                placeholder="Descrption"
              ></textarea>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">
              Add Exercise
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex-1 w-100 position-relative example-table-container">
    <table mat-table [dataSource]="exercises" class="mat-elevation-z8 w-100">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="exercise_id">
        <th mat-header-cell *matHeaderCellDef>ID.</th>
        <td mat-cell *matCellDef="let element">{{ element.exercise_id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr @list2 mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
