<form [formGroup]="myForm" #f="ngForm" (ngSubmit)="handleSubmit()">
  <div class="flex flex-col">
    <mat-form-field appearance="fill" class="w-100" autocomplete="password">
      <mat-label>Sets:</mat-label>
      <input
        formControlName="sets"
        name="sets"
        id="sets"
        matInput
        type="number"
        placeholder="Sets"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Reps:</mat-label>
      <input
        formControlName="reps"
        name="reps"
        type="number"
        matInput
        placeholder="Reps"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Base Weight:</mat-label>
      <input
        type="number"
        formControlName="base_weight"
        name="base_weight"
        matInput
        placeholder="Base Weight"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Workout:</mat-label>
      <mat-select formControlName="plan_id">
        <mat-option *ngFor="let ex of plans" [value]="ex.id">{{
          ex.workout.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Exercise</mat-label>
      <mat-select formControlName="exercise_id" name="exercise_id">
        <mat-option *ngFor="let ex of exercises" [value]="ex.id">{{
          ex.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
      Add Workout Details
    </button>
  </div>
</form>
