<div class="container">
    <mat-card>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
        </mat-card-content>
    </mat-card>
</div>